// #352F44 #2A2438 #411E8F #310A5D #131219

.box{
    border: 3px solid #0000;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    background: #351972;
    // box-shadow: inset 0px 0px 2px 2px #0000005A;
    background: 
      linear-gradient(#131219, #131219) padding-box, 
      linear-gradient(
          var(--angle),
          #070707,
          #687aff
        ) border-box;
    animation: 8s rotate linear infinite;

    &:not(:last-child){
        margin-bottom: 20px;
    }
    
    p{
      margin: 0;
      text-align: justify;
      white-space: pre-line;

      &:not(:last-child){
        margin: 0 0 10px 0;
    }
    }
  }



@keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }